.button-link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 600;

  color: $cWhite;
  text-transform: uppercase;
  white-space: nowrap;

  min-height: 58px;
  width: fit-content;
  padding: 20px 85px 20px 32px;
  border: 2px solid $cText;
  border-radius: 100px;

  position: relative;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &::after {
    content: "";

    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);

    width: 60px;
    height: 60px;

    background-image: url(../img/button-arrow.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: 1024px) {
    padding: 12px 60px 12px 20px;
    padding-right: 60px;
    min-height: 40px;
    font-size: 12px;
    border-color: $cAccent;

    &::after {
      width: 40px;
      height: 40px;
    }
  }

  &.button-link-dark {
    border: none;
    background: $cDark;
    color: $cWhite;

    &::after {
      width: 46px;
      height: 46px;
      right: 7px;

      background-image: url(../img/button-arrow-dark.svg) no-repeat center;

      @media (max-width: 1024px) {
        width: 30px;
        height: 30px;
      }
    }

    &:hover {
      background-color: $cWhite;
    }
  }

  &:hover {
    background-color: $cAccent;
    color: $cDark;
  }
}

.link-hover {
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $cAccent;
  }
}

.numbers {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 24px;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }

  li {
    @media (max-width: 1024px) {
      flex-basis: 48%;
    }

    @media (max-width: 768px) {
      flex-basis: 100%;
      padding-left: 37px;
      position: relative;

      &::before,
      &::after {
        content: "";

        position: absolute;

        display: block;
      }

      &::before {
        width: 15px;
        height: 15px;
        border: 5px solid $cAccent;
        border-radius: 100%;

        left: 0;
        top: 8px;
      }

      &::after {
        width: 2px;
        height: 60px;
        background-color: $cAccent;

        left: 11px;
        transform: translateY(-50%);
        top: calc(30px + 20px + 24px);
      }

      &:last-child::after {
        display: none;
      }
    }

    h2 {
      color: $cWhite;
      margin-bottom: 20px;
    }
  }
}

.background-gradient {
  position: absolute;

  &::before {
    content: " ";
    display: block;
  }
}

.part {
  border: 2px solid #222222;
  border-radius: 30px;
  background-color: $cDark;

  &__title {
    padding: 20px 32px;
    color: $cDark;
    background-color: $cAccent;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  ul {
    li {
      position: relative;
      padding: 16px 20px;
      cursor: pointer;
      border-bottom: 2px solid #222;

      > p {
        display: none;
        margin-top: 8px;
      }

      &.active {
        > p {
          display: block;
        }

        > span::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      > span {
        display: block;
        padding-right: 36px;
        width: 100%;
        position: relative;
      }

      &:last-child {
        border-bottom: none;
      }

      span::after {
        content: "";

        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        width: 24px;
        height: 13px;
        display: block;

        background-image: url(../img/union.svg);
        background-repeat: no-repeat;

        transition: transform 0.2s linear;

        cursor: pointer;
      }
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;

  text-align: center;
  margin: 0 auto;
  max-width: 550px;
}

.idea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  border-radius: 30px;
  background: $cAccent;
  padding: 32px;

  &__question {
    display: flex;
    align-items: center;
    gap: 16px;

    color: $cDark;
    
    .link {
      display: none;
    }
  }


  @media (max-width: 768px) {
    flex-direction: column;

    .idea__question {
      flex-direction: column;
      text-align: center;

      .link {
        display: block;
      }

      img {
        display: none;
      }
    }
  }
}

.social {
  display: flex;
  gap: 16px;

  a {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    background-color: $cAccent;

    cursor: pointer;
  }

  @media (max-width: 1024px) {
    a {
      width: 40px;
      height: 40px;

      img {
        width: 21px;
        height: 21px;
      }
    }
  }
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  li {
    max-width: 80px;
    width: 100%;
    height: 4px;
    background-color: #d1d1d1;
    border-radius: 10px;

    button {
      font-size: 0;
    }
  }

  .slick-active {
    height: 6px;
    background-color: $cAccent;
  }
}
