@import "./fonts";
@import "./text-styles";
@import "./variables";
@import "./normalize";
@import "./ui";

body.modal-opened {
  overflow: hidden;
}

.container {
  padding: 0 48px;
  margin: 0 auto;
  max-width: 1604px;

  @media (max-width: 1920px) {
    max-width: 1304px;
  }

  @media (max-width: 1280px) {
    padding: 0 24px;
    max-width: 1188px;
  }

  @media (max-width: 1024px) {
    max-width: none;
  }

  @media (max-width: 768px) {
    padding: 0 12px;
  }
}

// Header
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding-top: 40px;
  min-height: 100px;

  z-index: 100;

  @media (max-width: 1024px) {
    min-height: 82px;
  }

  @media (max-width: 768px) {
    padding-top: 12px;
    min-height: 60px;

    &.active {
      text-align: left;
      min-height: auto;
      height: 100vh;
      background-color: #0f0f0f;

      .header__inner {
        background: transparent;
        flex-direction: column;
        gap: 40px;
        border-radius: 0;
        height: 90vh;

        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }

        .logo {
          display: none;

          &.logo-mobile {
            display: block;
          }
        }

        .header__mobile-btns {
          display: none;
        }
      }

      .header__mobile {
        display: flex;
      }

      .header__navigation {
        display: block;
        width: 100%;

        ul {
          align-items: flex-start;
          flex-direction: column;

          li {
            border-radius: 18px;
            background-color: #1a1a1a;
            width: 100%;

            a {
              width: 100%;
              padding: 16px;
            }
          }
        }
      }

      .social {
        display: flex;
        margin-top: auto;
      }

      .button-link.button-link-dark {
        display: flex;
      }
    }
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 24px;

  .social {
    display: none;
  }

  .button-link.button-link-dark {
    background: $cDark;
    display: none;
  }

  @media (max-width: 768px) {
    border-radius: 100px;
    background: #0f0f0f;
    padding: 4px 24px;

    .header__navigation {
      display: none;
    }

    .button-link {
      display: none;
    }
  }
}

.header__mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__mobile-btns figure,
.header__close {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 54px;
  height: 54px;
  border-radius: 100%;
  background: #1a1a1a;
}

.header__mobile-btns {
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }
}

.header__navigation {
  flex-basis: 50%;

  @media (max-width: 1024px) {
    flex-basis: auto;
  }

  ul {
    display: flex;
    gap: 40px;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      gap: 24px;
    }

    a {
      color: $cWhite;
      font-weight: 600;
    }
  }
}

// Intro
.intro {
  background-image: url(../img/texture-bg.png);
  background-size: cover;
  background-position: center;

  padding-top: 198px;
  padding-bottom: 0;

  @media (max-width: 1024px) {
    padding-top: 180px;
  }

  @media (max-width: 768px) {
    padding-top: 100px;
  }
}

.intro__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
  }
}

.intro__info {
  flex-basis: 65%;

  @media (max-width: 1024px) {
    flex-basis: 100%;
  }
}

.intro__title {
  color: $cWhite;
  margin-bottom: 48px;

  span {
    color: $cAccent;
  }

  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.intro__desc {
  margin-bottom: 88px;
  max-width: 640px;

  @media (max-width: 1024px) {
    margin-bottom: 48px;
  }
}

.intro__case {
  padding: 20px;
  border-radius: 34px;
  background-color: $cDark;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    object-fit: cover;
  }

  @media (max-width: 768px) {
    padding-bottom: 300px;
  }
}

.intro__gradient {
  top: -35%;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 1024px) {
    display: none;
  }
}

.intro__numbers {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 72px;
  background: #0f0f0f;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  overflow: hidden;

  @media (max-width: 1024px) {
    padding: 40px 24px;
  }
}

.numbers__gradient {
  left: 50%;
  transform: translateX(-50%);
  bottom: -160%;
  z-index: 1;

  @media (max-width: 1024px) {
    display: none;
  }
}

// Problems
.problems {
  background-color: #0f0f0f;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  position: relative;

  .container {
    position: relative;
    z-index: 2;
  }
}

.problems__headline {
  text-align: center;
  color: $cWhite;
  margin-bottom: 16px;

  h2 {
    margin-bottom: 48px;

    @media (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }

  span {
    color: $cAccent;
  }

  .slogan-text {
    max-width: 740px;
    margin: 0 auto;
  }
}

.problems__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  margin-bottom: 32px;

  @media (max-width: 1024px) {
    padding-top: 320px;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (max-width: 425px) {
    padding-top: 200px;
  }
}

@media (max-width: 1024px) {
  .problems__case {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    top: 48px;
    height: 530px;
  }
}

.problems__problem {
  color: $cWhite;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  gap: 24px;

  > figure {
    position: relative;

    @media (max-width: 1024px) {
      padding-left: 48px;

      img {
        height: 126px;
      }

      &::before,
      &::after {
        content: "";

        position: absolute;

        display: block;
      }

      &::before {
        width: 20px;
        height: 20px;
        border: 5px solid $cAccent;
        border-radius: 100%;

        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        width: 2px;
        height: 76px;
        background-color: $cAccent;

        left: 14px;
        transform: translateY(-50%);
        top: calc(50% + 38px + 10px + 16px);
      }
    }

    p {
      position: absolute;
      top: 48px;
      bottom: 48px;

      @media (max-width: 1280px) {
        top: 24px;
        bottom: 24px;
      }
    }
  }

  &:first-child {
    figure:first-child {
      position: relative;
      right: -16px;

      @media (max-width: 1024px) {
        right: auto;
      }
    }

    @media (max-width: 1024px) {
      figure img {
        transform: rotate(180deg);
      }
    }

    > figure p {
      left: 48px;
      right: 68px;

      @media (max-width: 1024px) {
        right: 24px;
        left: 92px;
      }

      @media (max-width: 768px) {
        right: 12px;
        left: 84px;
      }
    }
  }

  &:last-child {
    figure:first-child {
      position: relative;
      left: -16px;

      @media (max-width: 1024px) {
        left: auto;
      }
    }

    figure:last-child {
      &::after {
        display: none;
      }
    }

    > figure p {
      right: 48px;
      left: 68px;

      @media (max-width: 1024px) {
        right: 24px;
        left: 92px;
      }

      @media (max-width: 768px) {
        right: 12px;
        left: 84px;
      }
    }
  }
}

.problems__desc {
  margin: 0 auto;
  text-align: center;
  max-width: 545px;

  margin-bottom: 36px;
}

.problems__link {
  margin: 0 auto;
}

.problems__gradient {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

// Know
.know__headline {
  max-width: 860px;
  margin-bottom: 108px;

  @media (max-width: 1024px) {
    margin-bottom: 80px;
  }
}

.know__title {
  color: $cWhite;
  font-weight: 700;
  margin-bottom: 48px;

  span {
    color: $cAccent;
  }

  @media (max-width: 1024px) {
    margin-bottom: 32px;
  }
}

.know__parts {
  display: flex;
  align-items: center;
  gap: 120px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .part {
    flex-basis: 40%;
    height: 100%;

    @media (max-width: 1024px) {
      flex-basis: auto;
      width: 100%;
    }
  }
}

.know__bulb {
  color: $cWhite;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 12px;

  font-size: 25px;
  font-weight: 700;
  font-family: $ffSecondary;

  position: relative;

  &::before,
  &::after {
    content: "";

    position: absolute;
    z-index: -1;

    height: 80px;
    width: 300px;

    background-image: url(../img/vector.svg);
    background-size: cover;

    display: block;

    @media (max-width: 1024px) {
      transform: rotate(90deg);
    }
  }

  &::before {
    bottom: calc(100% + 16px);
    right: calc(50% - 5px);

    @media (max-width: 1024px) {
      left: -8px;
      right: auto;
      bottom: 157%;
    }
  }

  &::after {
    transform: rotate(180deg);
    top: calc(100% + 16px);
    left: calc(50% - 5px);

    @media (max-width: 1024px) {
      transform: rotate(-90deg);
      right: -8px;
      left: auto;
    }
  }
}

.know__gradient {
  z-index: -1;
  bottom: -35%;
  left: 50%;
  transform: translateX(-50%);
}

// Portfolio
.portfolio {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: $cDark;
}

.portfolio__title {
  margin-bottom: 48px;
  font-weight: 700;
  color: $cWhite;

  span {
    color: $cAccent;
  }
}

.portfolio__tabs {
  margin-bottom: 48px;

  ul {
    display: flex;
    overflow-x: auto;
    gap: 8px;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      padding: 12px 30px;
      border-radius: 25px;
      background-color: #222222;
      border: 1px solid $cDark;
      cursor: pointer;

      button {
        color: $cText;
        text-transform: uppercase;
        font-weight: 600;
      }

      &.active {
        background-color: $cAccent;

        button {
          color: $cDark;
        }
      }
    }
  }
}

.portfolio__works {
  margin-bottom: 92px;

  @media (max-width: 1280px) {
    padding: 0 24px;
  }

  @media (max-width: 768px) {
    padding: 0;
  }

  display: none;

  &.active {
    display: block;
  }

  .slick-track {
    display: flex;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    height: 56px;
    width: 28px;

    cursor: pointer;
    background-repeat: no-repeat;
  }

  .slick-prev {
    background-image: url(../img/slider-prev.svg);
    right: calc(100% + 48px);

    @media (max-width: 1439px) {
      right: calc(100% + 16px);
    }

    @media (max-width: 1280px) {
      right: calc(100% - 20px);
    }
  }

  .slick-next {
    background-image: url(../img/slider-next.svg);
    left: calc(100% + 48px);

    @media (max-width: 1439px) {
      left: calc(100% + 16px);
    }

    @media (max-width: 1280px) {
      left: calc(100% - 20px);
    }
  }

  .slick-disabled {
    opacity: 0.3;
    cursor: default;
  }

  .slick-dots {
    margin-top: 60px;
  }
}

.portfolio__work {
  background-color: $cDark;
  border: 2px solid #333333;
  border-radius: 30px;

  margin-right: 24px;
  height: auto;

  color: $cWhite;
  font-weight: 600;
  padding-bottom: 72px;

  img {
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 40px;
    width: 100%;
  }

  @media (max-width: 768px) {
    padding-bottom: 32px;

    img {
      margin-left: auto;
      margin-right: auto;
      width: auto;
      object-fit: none;
    }
  }

  p {
    padding: 0 72px 0 36px;

    @media (max-width: 768px) {
      padding: 0 24px;
    }
  }
}

// Stages
.stages {
  background-image: url(../img/texture-bg.png);
  background-size: cover;
}

.stages__title {
  color: $cWhite;
  font-weight: 700;
  margin-bottom: 48px;

  span {
    color: $cAccent;
  }
}

.stages__inner {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
  padding-right: 48px;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    padding-right: 0;
  }
}

.stages__stage {
  position: relative;
  flex-basis: 23%;
  padding-bottom: 120px;

  @media (max-width: 1024px) {
    padding-bottom: 0;
    flex-basis: auto;
    width: 50%;

    padding-left: 40px;

    &:last-child::after {
      display: none;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 1024px) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
    }

    &::before {
      width: 15px;
      height: 15px;
      border: 5px solid $cAccent;
      border-radius: 100%;
      left: 0;
      top: 8px;
    }

    &::after {
      width: 2px;
      height: calc(100% - 48px);
      background-color: $cAccent;
      bottom: 0;
      left: 11px;
    }
  }

  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8) {
    padding-bottom: 0;
    .stages__pattern {
      figure {
        transform: rotate(180deg);
      }
    }
  }

  &.last-in-first {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 17px;
      left: 60px;

      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;

      height: 100%;
      width: 100%;

      display: block;
      border-top: 2px solid #888;
      border-right: 2px solid #888;
      border-bottom: 2px solid #888;

      @media (max-width: 1024px) {
        width: 2px;
        height: calc(100% - 48px);
        background-color: $cAccent;
        bottom: 0;
        left: 11px;
        top: auto;
        border: none;
        border-radius: 0;
      }
    }
  }
}

.stages__pattern {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;

  @media (max-width: 1024px) {
    display: none;
  }

  .stage-circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $cAccent;
  }

  .stage-arrow {
    flex-basis: 75%;
  }
}

.stages__name {
  color: $cWhite;
  margin-bottom: 20px;
}

// Stack
.stack__title {
  color: $cWhite;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 700;

  span {
    color: $cAccent;
  }
}

.stack__desc {
  max-width: 550px;
  margin-bottom: 64px;
}

.stack__inner {
  &.slick-initialized .slick-slide {
    display: flex;
  }

  .slick-track {
    display: flex;
  }

  .slick-dots {
    margin-top: 60px;
  }
}

.stack__card {
  margin-right: 16px;
  border: 1px solid #333;
  background-color: $cDark;
  padding: 16px;
  border-radius: 20px;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  span {
    font-weight: 600;
    color: $cWhite;
  }
}

// Footer
footer {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding: 40px 0 120px;

  background: #0f0f0f;
}

.footer__idea {
  margin-bottom: 48px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (max-width: 768px) {
    align-items: center;
    gap: 64px;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
